<div class="layout-content">
  <div class="layout-main">
    <div class="login-box">
      <span class="login-box-symbol">
        <span class="ui-icon i-darkest-blue i-xxlarge avatar-placeholder">
          <svg>
            <use xlink:href="#i-profile" />
          </svg>
        </span></span>

        <div class="login-box-body padding-bottom">
          <div class="login-box-header">
            <h2 class="login-box-title ">
              Edit Profile
            </h2>
          </div>

          <form class="login-box-form padding-bottom-none">
            <input class="login-box-form-username" type="text" placeholder="First Name" required/>
            <input class="login-box-form-password" type="text" placeholder="Last Name" required/>

            <input class="login-box-form-text" type="text" placeholder="Username" required/>
            <input class="login-box-form" type="password" placeholder="Password" required/>

            <button class="button login-box-form-submit" data-open="" type="submit">
              Update
            </button></form>

            <a routerLink="/profile" class="t-caps c-medium-dark-gray t-gamma" data-open="" type="submit">
              Cancel
            </a>
          </div>
        </div>
  </div>
</div>