<div class="layout-content">
  <div class="layout-main">
    <div class="login-box ">
      <span class="login-box-symbol">
        <span class="ui-icon i-darkest-blue i-xxlarge ">
          <svg>
            <use xlink:href="#i-profile-large" />
          </svg>
        </span> </span>

        <div class="login-box-body">
          <div class="login-box-header">
            <h2 class="login-box-title">
              Sign In
            </h2>
          </div>

          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-box-form">
            <input class="login-box-form-username" formControlName="email" type="text" placeholder="Username" autocomplete="email" required/>
            <input class="login-box-form-password" formControlName="password" type="password" placeholder="Password" required/>

            <button class="button login-box-form-submit bg-darkest-blue" [ngClass]="{ 'disabled': false }" data-open="" type="submit">
              Sign In
            </button></form>
          </div>
        </div>
  </div>
</div>