<nav class="top-bar nav-bar is-fixed">

  <div class="top-bar-title nav-logo">
    <a routerLink="/home">
      <span class="nav-bar-logo">
      <span class="ui-icon i-white i-base ">
        <svg>
          <use xlink:href="#i-ls-logo" />
        </svg>
      </span> </span>
      Life Sciences
    </a>
  </div>

  <div class="top-bar-left">
    <nav class="main-navigation">
      <ul class="menu">
        <li id="nav-item-browse" class="  ">
          <a routerLink="/browse">
            <span>Browse</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="top-bar-right">
    <nav class="secondary-navigation">
      <ul class="menu">
        <li>
          <a routerLink="" class="nav-bar-icon">
            <span class="ui-icon i-primary i-base ">
             <svg>
               <use xlink:href="#i-help" />
             </svg>
           </span> </a>
        </li>
        <li>
          <a routerLink="/profile" class="nav-bar-avatar">
            <span class="avatar-initials">
              <span *ngIf="currentUser | async; let user" class="avatar-initials-text">
                {{ user.first_name | slice:0:1 }}{{ user.last_name | slice:0:1 }}
              </span>
            </span>
          </a>
        </li>
        <li>
          <a routerLink="" class="nav-mobile-toggler">
            <span class="ui-icon i-primary i-medium icon-open">
              <svg>
                <use xlink:href="#i-menu" />
              </svg>
            </span> <span class="ui-icon i-primary i-medium icon-close">
              <svg>
                <use xlink:href="#i-close" />
              </svg>
            </span> </a>
        </li>
      </ul>

    </nav>

  </div>
</nav>