<div class="layout-content">
  <div class="layout-main">
    <div class="login-box" *ngIf="currentUser | async; let user">
      <span class="login-box-symbol">
        <span class="avatar-initials ui-icon i-xxlarge">
          <span class="avatar-initials-text">
            {{ user.first_name | slice:0:1 }}{{ user.last_name | slice:0:1 }}
          </span>
        </span></span>

        <div class="login-box-body padding-bottom">
          <div class="login-box-header">
            <h2 class="login-box-title ">
               {{ user.first_name}} {{ user.last_name }}
            </h2>
          </div>
          <h3 class="c-medium-dark-gray">{{ user.email }}</h3>

          <form class="login-box-form padding-bottom-none">
          </form>

            <a routerLink="/profile/edit" class="t-caps c-medium-dark-gray t-gamma" data-open="" type="submit">
              Edit
            </a>
          </div>
        </div>
  </div>
</div>