<div class="layout-content">
  <div class="layout-main">
    <div class="login-box">
      <span class="login-box-symbol">
        <span class="avatar-initials ui-icon i-xxlarge">
          <span class="avatar-initials-text t-alpha">
            PH
          </span>
        </span></span>

        <div class="login-box-body padding-bottom">
          <div class="login-box-header">
            <h2 class="login-box-title ">
              Phillip Hodge
            </h2>
          </div>
          <h3 class="c-medium-dark-gray">phillip.hodge@gmail.com</h3>

          <form class="login-box-form padding-bottom-none">
          </form>

            <a routerLink="/profile/edit" class="t-caps c-medium-dark-gray t-gamma" data-open="" type="submit">
              Edit
            </a>
          </div>
        </div>
  </div>
</div>