 <div class="layout-content">
  <div class="layout-main">
    <div class="browse-search">
      <div class="search-box-container">
        <span class="ui-icon i-darker-gray i-base search-box-search-icon">
          <svg>
            <use xlink:href="#i-search" />
          </svg>
        </span>
        <input
        [(ngModel)]="searchString"
        (keyup)="search(searchBox.value)"
        #searchBox
        type="text" id="search-box"
        class="search-box" placeholder="" />
        <span (click)="clearSearch()" class="ui-icon i-medium-gray i-base search-box-close-icon">
          <svg>
            <use xlink:href="#i-close-large" />
          </svg>
        </span></div>
    </div>
    <div class="browse-stage">
      <ul class="browse-slat-set">
        <app-slat-info
          *ngFor="let document of documents$ | async"
          [document]="document"
          routerLink="#"
          class="slat row align-middle collapse word"
          data-ref=""></app-slat-info>
      </ul>
    </div>
  </div>
</div>
